
body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #020617;
    padding: 25px;
    border-radius: 12px;
    width: 420px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

input, button {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
    border-radius: 6px;
    border: none;
}

button {
    background: #2563eb;
    color: white;
    cursor: pointer;
}

pre {
    background: #020617;
    padding: 10px;
    height: 140px;
    overflow: auto;
}
